@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body{
    background-color: rgb(150, 236, 150);
    margin: 0;
}
.start-container{
    background-color: rgb(226, 255, 226);
    width: 65%;
    height: 90vh;
    margin: 1rem auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.start-title h1{
    font-family: "Caveat", cursive;
    font-size: 4rem;
    display: inline-block;
    text-align: center;
}
.start-image{
    display: flex;
    justify-content: center;
}
.start-image img{
    position: static;
}
.start-button{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.start-button a{
    flex-grow: 0 1 auto;
    font-family: monospace;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(53, 151, 79);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin: 0 auto;
}

.start-button a:hover{
    background-color: rgb(53, 151, 79, 0.8);
}
.start-index{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.start-button p{
    flex-grow: 0 1 auto;
    font-family: monospace;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(53, 151, 79);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin: 0 auto;
}

.start-button p:hover{
    cursor: pointer;
    background-color: rgb(53, 151, 79, 0.8);
}
.start-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.start-edicion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

}

.content {
    height: 2000px;
    padding-bottom: 10px;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #033000;
    color: white;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(3, 23, 0, 0.5);
}

.plates-title {
    background-color: #014508;
    padding: 10px 0;
}


.bottom-bar {
    padding: 30px 0;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 55%;
    margin: 0 auto;
}

.bottom-bar img {
    margin: 0 10px;
}

.juego-top {
    background-color: #9dbb91;
    gap: 2.5rem;
    position: fixed;
    left: 50%;
    top: 3rem;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 2rem;
    margin: 10px auto;
}

.plata-info {
    display: flex;
    align-items: center;
}

.plata-icono {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

#plata {
    font-size: 18px;
}

.juego-top .plata-info {
    display: flex;
    align-items: center;
}

.isla-disponible{
    margin: 0 auto;
}

.imagenes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen-row {
    display: flex;
    justify-content: center;
}

.imagenes-item {
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color: #ccc;
}

#imagen1, #imagen2 {
    flex: 1;
}

#imagen3 {
    margin-top: 10px;
}

.overlay{
    position: absolute;
}
.contenedor-islas{
    display: block;
    /*justify-content: center;
    align-items: start;
    margin-top: 2rem;
    flex-direction: column;*/
}

.boton-comprar p{
    flex-grow: 0 1 auto;
    font-family: monospace;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(222, 236, 26);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin: 0 auto;
}

#container-ventana{
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    position: fixed;
    display: none;
}
.configuracion-container{
    display: none;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    width: 30%;
    height: 50%;
    border-radius: 3rem;
}
.tienda-container{
    display: none;
    position: absolute;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    width: 30%;
    height: 50%;
    border-radius: 3rem;
}
.tienda-container p{
    font-family: monospace;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
}
.niveles-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 101;
}
/*ANIMACIONES*/
@keyframes popup {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
.popup {
    animation: popup 0.5s ease-out forwards;
  }
  