@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body{
    background-color: rgb(150, 236, 150);
    margin: 0;
}
.start-container{
    background-color: rgb(226, 255, 226);
    width: 65%;
    height: 90vh;
    margin: 1rem auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.start-title h1{
    font-family: "Caveat", cursive;
    font-size: 4rem;
    display: inline-block;
    text-align: center;
}
.start-image{
    display: flex;
    justify-content: center;
}
.start-image img{
    position: static;
}
.start-button{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.start-button a{
    flex-grow: 0 1 auto;
    font-family: monospace;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(53, 151, 79);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin: 0 auto;
}

.start-button a:hover{
    background-color: rgb(53, 151, 79, 0.8);
}
.start-index{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.start-button p{
    flex-grow: 0 1 auto;
    font-family: monospace;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(53, 151, 79);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin: 0 auto;
}

.start-button p:hover{
    cursor: pointer;
    background-color: rgb(53, 151, 79, 0.8);
}

.content {
    height: 2000px; /* Para simular contenido largo */
    padding-bottom: 10px; /* Para que el contenido no se oculte detrás de la barra */
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #033000;
    color: white;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(3, 23, 0, 0.5); /* Sombra para la barra */
}

.plates-title {
    background-color: #014508;
    padding: 10px 0;
}


.bottom-bar {
    padding: 30px 0;
    overflow-x: auto; /* Permite el scroll horizontal */
    white-space: nowrap; /* Evita que las imágenes se envuelvan */
    max-width: 55%;
    margin: 0 auto;
}

.bottom-bar img {
    margin: 0 10px;
}